<div class="container">
  <div class="row my-4">
    <div class="col-4" *ngFor="let product of products">
      <mat-card class="example-card">
        <img src="{{product.image}}">
        <mat-card-header>
          <mat-card-title>{{product.name}}</mat-card-title>
        </mat-card-header>
        <mat-divider class="my-3"></mat-divider>
        <mat-card-content>
          <p>
            <strong>Descrição:</strong> {{product.description}}
          </p>
          <p>
            <strong>Validade:</strong> {{product.expirationDate | date: 'dd/MM/yyyy' }}
          </p>
          <p>
            <strong>Price R$</strong> {{ product.price }}
          </p>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-end">
          <button mat-icon-button color="primary" (click)="editProduct(product.id)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="warn" (click)="deleteProduct(product.id)"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
