<div class="container mt-4">
  <div class="row my-4">
  <h1 style="text-align: center" name="titulo" class="fs-1 my-5">Cadastro de produtos</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()"
    class="justify-content-center align-items-center d-flex row  m-1 w-100">
    <fieldset class="m-1 w-100">
      <div class="m-1 w-100">
        <div class="m-1 w-100">
          <mat-form-field class="m-1 w-100">
            <mat-label>Nome do produto</mat-label>
            <input formControlName="name" matInput />
            <mat-error>O campo nome deve conter ao menos 3 caracteres</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="m-1 w-100">
            <mat-label>Descrição do produto</mat-label>
            <textarea formControlName="description" matInput></textarea>
            <mat-error>O campo descrição é obrigatório</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="m-1 w-100">
            <mat-label>Validade</mat-label>
            <input type="date" formControlName="expirationDate" matInput />
            <mat-error>O campo validade é obrigatório</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="m-1 w-100">
            <mat-label>Preço</mat-label>
            <input formControlName="price" matInput placeholder="10,00"/>
            <mat-error>O campo preço é obrigatório</mat-error>
          </mat-form-field>
        </div>
      </div>
    </fieldset>
    <div class="mt-3">
      <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid">Salvar
      </button>
    </div>
  </form>
</div>
</div>
