<mat-toolbar color="primary" style="min-width: 580px;" >
  <button mat-button class="fs-3" routerLink="/">Crud</button>
  <span class="spacer"></span>
  <div class="menu m-2">
    <button mat-button routerLink="/products">Produto </button>
    <button mat-button routerLink="/products/create">Cadastrar produto </button>
    <span> | </span>
    <button mat-button routerLink="/users">Usuário </button>
    <button mat-button routerLink="/users/create">Cadastrar usuário</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
